html {
    background-color: #ffffff;
    max-width: 1260px;   
    margin-left: auto;
    margin-right: auto; 
    text-decoration: none;   
}
body{
    background-color: #EDF2C5;
    margin-top: 0px;
      
}

.limit{
    padding-left: 160px;
    padding-right: 160px;
    
}

.icon{
    display: flex;
    justify-content:space-between;
    
}
#icon-veg {
    
    font-family: Arial;
    font-weight: bold;
    font-size: 44px;
    width: 271px;
    height: 62px;
    color: #778a50;
}

    
.fb{
    display: inline-block;
    margin-left: 10px;
    margin-top: 60px;
    width: 25px;
    height: 25px;
}

.ig{
    display: inline-block;
    margin-left: 10px;
    margin-top: 60px;
    width: 25px;
    height: 25px;
    
    
}

.divline{
    width: 1px;
    height: 25px;
    background-color: #778a50;
    display: inline-block;
    margin-top: 60px;
    margin-left: 10px;
    
    
}

.login{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    border: solid 1px;
    border-radius: 3px;
    color: #778a50;
    text-align:center;
    padding: 5px 7px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 60px;
    margin-bottom:5px;
    
    
}

.join{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    border: solid 1px;
    border-radius: 3px;
    color: #778a50;
    line-height:25px;
    padding: 0px 7px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 60px;
    margin-bottom:5px;
   
   
    
}

.nav_box {
    
    width: 940px;
    height: 44px;
    border-radius: 3px;
    background-color: #778a50;
    margin-bottom: 20px;
    text-decoration: none; 
    
}

.button{
    
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #edf2c5;
    margin: 0px 30px;
    line-height: 44px;
}

#pic1{
  	width: 940px;
    height: 448px;
    margin-bottom: 30px;
}
/************************************************/
.body-box{
    display: flex;
    margin-left: -30px;
}

.body-box-veg-con{
    width: 444px;
    height: 45px;
    border-radius: 3px;
    background-color: #778a50; 
    
  
}

#veg-p{
    width: 414px;
    height: 45px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #edf2c5;
    margin: 0px 52px 0px 30px;
    display: inline-block;
    line-height: 45px ;
    padding-left: 30px;

    
}

.veg-pic{
    display: flex;
    justify-content: space-between;
    width: 440px;
    height: 140px;
    
}

.con-p{
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #edf2c5;
    display: inline-block;
    line-height: 45px ;
    margin: 0px 30px;
    
}

#veg-con{
    width: 444px;
    height: 45px;
    
}
.pic-art{
    display: flex;
    justify-content: space-between; 
    margin-bottom: 35px;
    margin-top: 15px;
    
    
}
.art-bg{
    width: 444px;
    height: 140px;
    background-color: #f7fbda;
    

    
}

.con-art{
    font-family: Arial;
    font-size: 12px;
    color: #7d7d7d;
    margin-bottom: 15px;
    padding: 0px 15px;
}
/****************************************/
.mail{
    font-family: Arial;
    font-size: 12px;
    color: #7d7d7d;
    margin-top: 15px;
    padding: 0px 15px;
}
.line-contact-text{
    width: 414px;
    height: 1px;
    color: #7d7d7d;
    margin: 0px 15px;
}
.footer-box{
    width: 1243px;
    height: 60px;
    background-color: #778a50;
    margin-left: -160px;
    
} 

#footer-p{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #edf2c5;
    display: flex;
    justify-content: center;
    line-height: 60px;
}